[submodule "CapstoneShopForHome-Frontend"]
	path = CapstoneShopForHome-Frontend
	url = https://github.com/niteshtiwari52/CapstoneShopForHome-Frontend
[submodule "CapstoneShopForHome-Backend"]
	path = CapstoneShopForHome-Backend
	url = https://github.com/niteshtiwari52/CapstoneShopForHome-Backend
[submodule "wipro_training"]
	path = wipro_training
	url = https://github.com/niteshtiwari52/wipro_training
[submodule "Milestone-3"]
	path = Milestone-3
	url = https://github.com/niteshtiwari52/Milestone-3
