[submodule "CapstoneShopForHome-Frontend"]
	path = CapstoneShopForHome-Frontend
	url = https://github.com/niteshtiwari52/CapstoneShopForHome-Frontend
[submodule "CapstoneShopForHome-Backend"]
	path = CapstoneShopForHome-Backend
	url = https://github.com/niteshtiwari52/CapstoneShopForHome-Backend
[submodule "Milestone-3"]
	path = Milestone-3
	url = https://github.com/niteshtiwari52/Milestone-3
[submodule "wipro-training-daywise"]
	path = wipro-training-daywise
	url = https://github.com/niteshtiwari52/wipro-training-daywise
